<!-- <app-navbar></app-navbar> -->

<br>

<div>
  <div class="row">

    <div class="col-3">

    </div>
    <div class="col-6" >
      <form [formGroup]="kpiForm" (ngSubmit)="submit()">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td> <label>Title </label></td>
              <td>:</td>
              <td><input type="text" placeholder="title" formControlName="title"></td>
            </tr>

            <tr>
              <td> <label for="dept"> Department Id</label></td>
              <td>:</td>
              <td><select formControlName="departmentId">
                  <ng-container *ngFor="let x of dep">
                    <option [value]="x.id">{{x.name}}</option>
                  </ng-container>
                </select></td>
            </tr>


            <tr>
              <td><label for="dept"> Perspective </label>
              </td>
              <td>:</td>
              <td> <select id="dept" formControlName="perspective">
                  <ng-container *ngFor="let x of pers">
                    <option [value]="x._id">{{x.perspective}}</option>
                  </ng-container>
                </select></td>
            </tr>

            <tr>
              <td><label for="dept"> Goal Description </label>

              </td>
              <td>:</td>
              <td> <input type="text" placeholder="add a description" formControlName="goalDescription"></td>
            </tr>

            <!-- <tr>
              <td><label for="dept">Financial Year </label>
              </td>
              <td>:</td>
              <td> <select id="dept" formControlName="financialYearStart" >
                  <ng-container *ngFor="let x of year">
                    <option [value]="x.startUnix" >FY {{x.start | date:'y'}}-{{x.end | date:'y'}}</option>
                  </ng-container>
                </select></td>
            </tr> -->

            <tr>
              <td><label for="dept">Remark :</label>
              </td>
              <td>:</td>
              <td> <input type="text" placeholder="add a remark" formControlName="remark"></td>
            </tr>


            <tr>
              <td> <label for="dept">Data Capture Frequency </label>
              </td>
              <td>:</td>
              <td><select (change)="onChange($event)" id="dept" formControlName="dataCaptureFrequency">
                  <ng-container *ngFor="let x of datac">
                    <option [value]="x._id">{{x.value}}</option>
                  </ng-container>
                </select></td>
            </tr>

            <tr>
              <td> <label for="dept">Review Frequency </label>
              </td>
              <td>:</td>
              <td> <select id="dept" formControlName="reviewFrequency">
                  <ng-container *ngFor="let x of review">
                    <option [value]="x._id">{{x.value}}</option>
                  </ng-container>
                </select></td>
            </tr>

            <tr>
              <td><label for="dept">Type </label>
              </td>
              <td>:</td>
              <td> <select id="dept" formControlName="type">
                  <ng-container *ngFor="let x of typearray">
                    <option [value]="x._id">{{x.type}}</option>
                  </ng-container>
                </select></td>
            </tr>

            <tr>
              <td><label for="dept">Category </label>
              </td>
              <td>:</td>
              <td> <select id="dept" formControlName="category">
                  <ng-container *ngFor="let x of category">
                    <option [value]="x._id">{{x.category}}</option>
                  </ng-container>
                </select></td>
            </tr>

            <tr>
              <td><label for="dept">Select Month </label>
              </td>
              <td>:</td>
              <td>
                <ng-select [items]="list" bindLabel="name" bindValue="id" [(ngModel)]="selectedMonth"
                  [ngModelOptions]="{standalone: true}" [multiple]="true" (add)="addCaptureData($event)"
                  (remove)="removeData(selectedMonth)" (clear)="clearData()">
                </ng-select>
              </td>
            </tr>
            <div>
              <ng-container formArrayName="captureData">
                <ng-container *ngFor="let item of captureData.controls; let i=index">
                  <div formGroupName="{{i}}">
                    {{Month.name}}
                    <label>Target</label><br />
                    <input formControlName="target" id="{{ i }}" type="text" />
                    <br />
                    <label>Upper</label><br />
                    <input formControlName="upper" id="{{ i }}" type="text" />
                    <br />
                    <label>Lower</label><br />
                    <input formControlName="lower" id="{{ i }}" type="text" />
                    <button (click)="removeData(i)">remove</button>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </tbody>
        </table>
        <hr>
        <!-- [disabled]="!kpiForm.valid" -->
        <div style="text-align: center;">
          <button class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-3">
    </div>
  </div><br>
</div>