
<!-- <app-navbar></app-navbar> -->

<br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;" *ngFor="let item of kpiList">
   
   
        <div class="card-body">
          <h5 class="card-title">Title :  {{item.title}}</h5>
    
          <button [value]="item._id" (click)="fetchId($event)">
            View Kpi
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg > 
          </button>
    
          <!-- <h5 class="card-title">Department Id :  {{item.departmentId}}</h5>
          <h5 class="card-title">Department Name :  {{item.departmentName}}</h5> -->
          
          
        </div>
      </div>

    </div>
    <div class="col">

      <app-view-kpi [x]="id"> </app-view-kpi>
    </div>
    <div class="col">

    </div>

  </div>


























